* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1928;
  --secondary-color: #fff;
}
html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #0f1928;
  color: var(--primary-color);
}
html {
  transition: all 0.5s ease-in;
  background: rgba(230, 227, 227, 0.219);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Heebo", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -6px 13px 19px 6px hsl(180deg 36% 70% / 18%),
    9px 8px 18px 2px #294470;
}
.title {
  width: 100%;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
}
.clockTheme {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.time {
  font-size: 50px;
}

.fotter {
  position: fixed;
  bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
}
.fotter a {
  text-decoration: none;
}

.toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
}

.toggle:focus {
  outline: none;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
